@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');

.navbar {
    position: fixed;
    width:100%;
    height: auto;
    margin: 0px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.733);
    font-family: 'Barlow Condensed';
    letter-spacing: 0.5px;
    font-size: calc(17px + (25 - 17) * ((100vw - 565px) / (1600 - 565)));
    z-index: 10;

    .logo {
        padding: 0px 50px 0px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .directory {
        display: flex;
        justify-content: flex-end;
        width: 80%;

        .nav-route {
            padding:10px 3% 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            transition: 0.2s linear;
            cursor: pointer;
            white-space: nowrap;
            font-weight: 500;
            letter-spacing: 1px;
            
            div {
                margin-top: 5px;
                height: 3px;
                width: 0%;
                background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.404), transparent);
                opacity: 0;
                transition: 0.2s linear;
            }

            &:last-child {
                margin: 0px 0px 0px;
            }

            &:hover {
                background: rgba(0, 0, 0, 0.377);
                color: rgb(255, 255, 255);
                font-weight:500;
                div {
                    opacity: 1;
                    width: 150%;
                }
            }
        }
    }

    .social {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px 20px;
        margin-right: 20px;
        
        cursor: pointer;
        transition: 0.2s linear;

        &:hover {
            background-color: rgb(255, 255, 255);
            color: #4267B2;
            
        }
    }
}