
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.services {
    color: black;
    background: rgb(0,0,0);
    background: linear-gradient(166deg, rgba(0, 0, 0, 0.144) 37%, rgba(255,166,0,1) 37.2%, rgba(222,145,0,1) 54.8%, rgba(0, 0, 0, 0.144) 55%);
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    
    .header {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: calc(30px + (50 - 30) * ((100vw - 280px) / (1600 - 280)));
            line-height: 0px;
            margin: 50px 0px 50px;
        }
    }

    .services-content {
        margin-top: 50px;
        .services-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .tilt-container {
                position: relative;
                font-size: calc(23px + (30 - 23) * ((100vw - 280px) / (1600 - 280)));
                margin: 20px;
                width: 400px;
                height: 500px;
                overflow: hidden;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: .2s linear;

                &:hover {   
                    .service-desc {
                        color: orange;
                        div {
                            .underline {
                                width: 100%;
                            }
                        }
                    }
                }

                .background-tilt {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: 0.5s linear;
                }

                .service-desc {
                    height: 100%;
                    width: 100%;
                    color:white;
                    transition: 0.5s linear;
                    text-align: center;
                    display: flex;

                    div {
                        background-color: rgba(0, 0, 0, 0.733);
                        font-weight: 600;
                        width: 100%;
                        height: 20%;
                        position: relative;
                        top: 80%;
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-shadow: 2px 2px black;
                        transition: 0.2s linear;
                        
                        .underline {
                            position: relative;
                            top: 0;
                            width: 0%;
                            height: 2px;
                            background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.548), transparent);
                            transition: 0.2s linear;
                            margin-top: 5px;
                        }
                    }

                }
                &:hover {

                    .underline {
                        width: 100%;
                    }
                }
            }

        }
    }
    .more-services {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;

        .detailsBtn {
            font-size: calc(23px + (30 - 23) * ((100vw - 280px) / (1600 - 280)));
            color: rgb(0, 0, 0);
            border-radius: 5px;
            border: 2px solid orange;
            padding: 5px 20px 5px;
            text-align: center;
            letter-spacing: 3px;
            cursor: pointer;
            font-weight: 500;
        }
    }


}